@font-face {
  font-family: 'twitchy-fonts';
  src: url('../font/twitchy-fonts.eot?15362397');
  src: url('../font/twitchy-fonts.eot?15362397#iefix') format('embedded-opentype'),
       url('../font/twitchy-fonts.woff?15362397') format('woff'),
       url('../font/twitchy-fonts.ttf?15362397') format('truetype'),
       url('../font/twitchy-fonts.svg?15362397#twitchy-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'twitchy-fonts';
    src: url('../font/twitchy-fonts.svg?15362397#twitchy-fonts') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "twitchy-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrows:before { content: '\e800'; } /* '' */
.icon-favorite:before { content: '\e803'; } /* '' */
.icon-unfavorite:before { content: '\e804'; } /* '' */
