// Media query declarations for break points
$breakpoint-sm: 640px;
$breakpoint-md: 960px;
$breakpoint-lg: 1366px;


@import 'normalize';
@import 'mixins';
@import 'icon-fonts';

// Apply a natural box model layout to all elemnts
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	background-color: #101010;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 100;
}

body::-webkit-scrollbar { 
    display: none; 
}

.container {
	width: 95%;
	max-width: 1900px;
	margin: 0 auto;
}

header.logo {
	width: 203px;
	height: 80px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url('../img/twitchy.png');
	background-repeat: no-repeat;
	// Hide the text.
	font-size: 0px;
	color: #101010;

	@include responsive(sm, md) {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
	}
}

.nav-wrapper {
	text-align: center;
}

nav.main {
	position: relative;
	z-index: 0;
	float: left;
	margin-top: 45px;
	text-align: left;
	font-size: 0px;

	@include responsive(sm, md) {
		float: none;
		display: inline-block;
		margin: 20px auto;

		@include ellipsis;
	}

	.link {
		display: block;
		width: 200px;
		height: 90px;
		font-size: 30px;
		line-height: 125px;
		padding-left: 10px;
		text-decoration: none;
		color: #777;
		background-color: #53338e;
		transform: scale(0.90);
		cursor: pointer;

		@include responsive(sm) {
			display: inline-block;

			width: 140px;
			height: 70px;
			font-size: 22px;
			line-height: 100px;
		}

		@include responsive(md) {
			display: inline-block;

			width: 170px;
			height: 80px;
			font-size: 26px;
			line-height: 120px;
		}

		transition: all 450ms ease;

		&:hover {
			color: #aaa;
			background-color: #6240a1;
		}

		&.active {
			// Position us above the border
			position: relative;
			z-index: 10;
			background-color: #7f53cf;
			color: #fff;
			transform: scale(1);

			// Generate a few item border states, increase this number if we end
			// up with more nav items
			@for $i from 0 through 5 {
				&.item-#{$i} ~ .active-border {
					top: -8px + ($i * 90);
				}
			}
		}
	}

	.active-border {
		position: absolute;
		z-index: 5;
		top: -8px;
		left: -8px;
		width: 216px;
		height: 106px;
		border: 4px solid #fff;
		box-shadow: 0px 0px 30px 15px rgba(#101010, 0.75);
		transition: all 450ms ease;

		@include responsive(sm, md) {
			display: none;
		}
	}
}

section.content {
	margin-left: 250px;

	transition: margin 300ms ease;

	@include responsive(sm, md) {
		margin-left: 0px;
	}
}

ul.horizontal {
	font-size: 0px;
	list-style-type: none;
	margin: 0;
	padding: 0;

	> li {
		display: inline-block;
	}
}

li.sub-tab {
	font-weight: 600;
	text-transform: uppercase;
	width: 20%;
	font-size: 14px;
	padding-left: 8px;
	padding-bottom: 5px;
	color: #6a6a6a;
	border-bottom: 2px solid #6a6a6a;
	cursor: pointer;

	transition: all 300ms ease;

	@include responsive(sm, md) {
		width: 33.333%;
	}

	@include responsive(lg) {
		width: 25%;
	}

	&:hover {
		border-color: #ccc;
	}

	&.active {
		color: #fff;
		border-color: #fff;
	}
}

.stream-list,
.game-list {
	@include clearfix;

	margin-top: 20px;
	margin-bottom: 50px;
}

.stream-list-item,
.game-list-item {
	position: relative;
	float: left;
	cursor: pointer;
	opacity: 0.75;
	background-size: cover;
	background-position: 50% 50%;
	border: 5px solid #101010; // Blend the border into the background color

	transition: all 300ms ease;

	&.right {
		float: right;
	}

	&:hover {
		z-index: 10;
		opacity: 1;
		border-color: #fff;
		transform: scale(1.1);

		.stream-favorite {
			opacity: 1;
		}
	}
}

.stream-list-item {
	width: 25%;
	height: 160px;

	@include responsive(sm) {
		width: 100%;
		height: 240px;
	}

	@include responsive(md, lg) {
		height: 140px;
	}

	&.big {
		width: 50%;
		height: 320px;

		@include responsive(sm) {
			width: 100%;
			height: 240px;
		}

		@include responsive(md, lg) {
			height: 280px;
		}
	}
}

.game-list-item {
	width: 12.5%;
	height: 330px;

	@include responsive(sm) {
		width: 100%;
	}

	@include responsive(md, lg) {
		width: 20%;
		height: 250px;
	}

	&.big {
		width: 25%;
		height: 660px;

		@include responsive(sm) {
			width: 100%;
			height: 330px;
		}

		@include responsive(md, lg) {
			width: 40%;
			height: 500px;
		}

		.stream-title {
			font-size: 150%;
		}
	}
}

.stream-favorite {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 44px;
	height: 44px;
	opacity: 0;
	border-radius: 50px;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	background-color: rgba(#000, 0.2);

	transition: color 300ms ease,
		opacity 300ms ease,
		transform 175ms ease;

	&:hover {
		color: #7f53cf;
	}

	&:active {
		transform: scale(1.7);
	}

	// If it's already favorited, always show it
	&.favorited {
		opacity: 1;
		color: #7f53cf;

		&:hover {
			color: #AB2B51;

			.icon-favorite:before {
				content: '\e804';
			}
		}
	}
}

.stream-info {
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding: 5px 15px;
	background-color: rgba(#000, 0.6);
	color: #ddd;

	.stream-title {
		font-weight: 600;
		font-size: 18px;
		@include ellipsis;

		@include responsive(md, lg) {
			font-size: 14px;
		}
	}

	.stream-details {
		font-size: 12px;
		@include ellipsis;

		@include responsive(md, lg) {
			font-size: 10px;
		}
	}
}

.stream-viewers {
	position: absolute;
	top: 5px;
	right: 5px;
	display: inline;
	font-size: 10px;
	background-color: rgba(#000, 0.5);
	padding: 5px 10px;
	border-radius: 50px;

	&:before {
		content: '';
		display: inline-block;
		width: 6px;
		height: 6px;
		margin-right: 5px;
		background-color: red;
		vertical-align: 5%;
		border-radius: 10px;
	}

	@include ellipsis;
}

.stream-player {
	position: fixed;
	z-index: 15;
	left: 50%;
	top: 50%;
	width: 0%;
	height: 0%;
	opacity: 0;

	transition: all 300ms ease;

	&.active {
		opacity: 1;
		left: 1%;
		top: 2%;
		width: 98%;
		height: 96%;
	}

	.close {
		position: absolute;
		z-index: 50;
		top: -13px;
		right: -13px;
		padding: 0px 9px;
		font-size: 20px;
		font-weight: 600;
		color: #fff;
		background-color: #000;
		border: 2px solid #fff;
		cursor: pointer;
	}

	.video-wrapper {
		position: relative;
		z-index: 20;
		height: 100%;
		width: 100%;
	}

	.video-wrapper object,
	.video-wrapper embed,  {
		position: absolute;
		z-index: 20;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#refresh {
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 30px;
	cursor: pointer;
	opacity: 0.5;

	transition: all 300ms ease;

	&:hover {
		opacity: 1;
		transform: scale(1.5) rotate(135deg);
	}

	&:active {
		color: #7f53cf;
		transform: scale(1.5) rotate(270deg);
	}
}
